# dependencies
node_modules/

# next.js
.next/
out/

# build
tsconfig.tsbuildinfo

# env files (contain secrets)
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# misc
*.tsbuildinfo
